.product_wrapper {
  display: flex;
  justify-content: space-between;

  .product_image {

  }
  
  .product_description {
    // background-color: rgb(255, 155, 155);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;

    .product_count {
      display: flex;
      font-size: 30px;
      margin: 10px;

      button {
        font-size: 30px;
        margin: 5px;
        background-color: rgb(141, 220, 139);
      }
    }

    .in_cart {
      font-size: 20px;
      padding: 10px;
      background-color: rgb(141, 220, 139);
    }
  }
}