.header_wrapper {
  height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  

  .header_ul {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 0px 50px;
    
    .logo {
      cursor: pointer;
    }

    .adress {
      padding-top: 8px;
    }

    .socials_li {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .add_product {
        width: 170px;
        height: 30px;
        margin-bottom: 10px;
        font-size: 16px;
        border: 3px solid rgb(182, 226, 255);
        border-radius: 8px;

        &:hover {
          border: 3px solid rgb(101, 194, 255);
          background-color: rgb(239, 249, 255);
          transition: 0.3s;
          cursor: pointer;
        }

        &:active {
          opacity: 0.6;
          transition: 0.05s;
        }
      }

      .socials {
        display: flex;

        li {
          margin: 2px;
          opacity: 0.6;

          &:hover {
            opacity: 1;
            transition: 0.2s;
            cursor: pointer;
          }

          &:active {
            opacity: 0.6;
            transition: 0.05s;
          }
        }
      }
    }
  }
}