.woodtype_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  border: 2px solid lightgrey;
  border-radius: 6px;
  padding: 2px;
  transition: 0.3s;
  cursor: pointer;

  p {
    padding: 5px;
  }

  &:hover {
    border: 2px solid rgb(149, 142, 185);
    transition: 0.2s;
  }
}